@import '~normalize.css';
@import 'roboto';

body {
  display: grid;
  background-image: url('../images/webpack.png');
  font-family: 'Roboto';
  background-repeat: no-repeat;
  background-position: center 0;
}
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
